In [5]:
#Data Structure
#list mutable 
#append()
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [6]:
#insert
a.insert(1,2)
print(a)

[1, 2, 2, 3, 4]

In [7]:
#extend()
a.extend([5,6])
print(a)

[1, 2, 2, 3, 4, 5, 6]

In [8]:
#pop(index) also can pass and delete the last element
a.pop()
print(a)

[1, 2, 2, 3, 4, 5]

In [9]:
#remove the fisrt occurrence element 
a.remove(2)
print(a)

[1, 2, 3, 4, 5]

In [10]:
#count(ele) count no. of occurrence
print(a.count(3))

1

In [11]:
#min(listname) return the min element
print(min(a))

1

In [12]:
#max(listname) return the max element
print(max(a))

5

In [13]:
#reverse the list
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [14]:
#sort the list in ascending order
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [15]:
#clear() delete whole elements in a list and become empty list 
#variable type still be a <class 'list'>
a.clear()
print(a)
print(type(a))

[]
<class 'list'>

In [16]:
#del the specific index element
a = [1,2,3]

In [17]:
#index(ele) return the index of the element
print(a.index(3))

2

In [18]:
#del
del a[0]
print(a)

[2, 3]

In [19]:
#copy() list 
b = []
b= a.copy()
print(b)

[2, 3]

In [20]:
#sort desc
a.sort(reverse="True")
print(a)

[3, 2]

In [21]:
#len() size of list
print(len(a))

2

In [22]:
# 1: Create an empty list and take 5 numbers as input from the user. Append each number to the list and display the final list.
a = []
for i in range(1,6):
    b = int(input("Enter a element:"))
    a.append(b)
print(a)

Enter a element: 7
Enter a element: 8
Enter a element: 9
Enter a element: 5
Enter a element: 3

[7, 8, 9, 5, 3]

In [23]:
# 2 :Create two lists: list1 = [1, 2, 3] and list2 = [4, 5, 6]. Extend list1 using list2 and print the updated list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [24]:
# 3: Insert the value 25 at index 2 in the list: l = [10, 20, 30, 40].
l = [10, 20, 30, 40]
l.insert(2,25)
print(l)

[10, 20, 25, 30, 40]

In [25]:
# 4: Remove the first occurrence of the value 20 from the list: l = [10, 20, 30, 20, 40].
l = [10, 20, 30, 20, 40]
l.remove(20)
print(l)

[10, 30, 20, 40]

In [26]:
# 5: Pop the last element from the list [1, 2, 3, 4, 5] and display both the popped item and the updated list.
list = [1, 2, 3, 4, 5]
print(list.pop())
print(list)

5
[1, 2, 3, 4]

In [27]:
# 6: Find and print the index of the element 15 in the list [5, 10, 15, 20, 25].
list = [5, 10, 15, 20, 25]
print(list.index(15))

2

In [28]:
# 7: Count how many times the number 2 appears in the list [1, 2, 2, 3, 2, 4, 2].
list = [1, 2, 2, 3, 2, 4, 2]
list.count(2)

4

In [29]:
# 8: Sort the list [10, 5, 7, 3] in both ascending and descending order.
list = [10, 5, 7, 3]
list.sort()
print(list)
list.sort(reverse="True")
print(list)

[3, 5, 7, 10]
[10, 7, 5, 3]

In [30]:
# 9: Reverse the list [1, 2, 3, 4, 5] using the reverse() method.
list4 = [1, 2, 3, 4, 5]
list4.reverse()
print(list4)

[5, 4, 3, 2, 1]

In [31]:
# 10: Copy the list [1, 2, 3] to a new list, make changes in the copied list, and show that the original list remains unchanged.
list5 =  [1, 2, 3]
list6 = list5.copy()
print(list6)
list6.append(4)
print("original list: ",list5)
print("copied list: ",list6)

[1, 2, 3]
original list:  [1, 2, 3]
copied list:  [1, 2, 3, 4]

In [32]:
# 11. Write a program to take a list of 10 integers as input and print the second largest number using list methods.
a = []
for i in range(1,11):
    b = int(input("Enter a element:"))
    a.append(b)
print(a)
a.sort() 
print("Second largest number is:", a[-2])

Enter a element: 5
Enter a element: 6
Enter a element: 8
Enter a element: 1
Enter a element: 6
Enter a element: 9
Enter a element: 7
Enter a element: 6
Enter a element: 5
Enter a element: 58

[5, 6, 8, 1, 6, 9, 7, 6, 5, 58]
Second largest number is: 9

In [33]:
# 12. Write a program to remove all even numbers from a list of integers and print the updated list.
list = [1,2,3,4,5]
for i in list:
    if i%2==0:
        list.remove(i)
print(list)

[1, 3, 5]

In [36]:
# 13. Create a list of student names. Ask the user to enter a name, and remove that name from the list if it exists.
a = []
for i in range(1,3):
    b = input("Enter a string")
    a.append(b)
for i in a:
    if i == "Janvi":
        a.remove(i)
print(a)

Enter a string janvi
Enter a string abc

['janvi', 'abc']

In [37]:
# 14. Create a list of numbers. Ask the user to enter a number. If it exists, print its index and remove it from the list.
a = [1,2,3,4]
num = int(input("Enter a number:"))
for i in a:
    if i == num:
        print(a.index(i))
        a.remove(i)
print(a)

Enter a number: 1

0
[2, 3, 4]

In [38]:
# 15. Create a list of 5 strings. Sort the list in alphabetical order using the sort() method.
a = []
for i in range(1,6):
    b = input("Enter a string")
    a.append(b)
a.sort()
print(a)

Enter a string janvi
Enter a string bata
Enter a string khushi
Enter a string hjhjhj
Enter a string vcfhfjg

['bata', 'hjhjhj', 'janvi', 'khushi', 'vcfhfjg']

In [39]:
# 16. Write a program that counts how many times the word "python" appears in a list of words.
a = []
for i in range(1,6):
    b = input("Enter a string")
    a.append(b)
print(a)
if "python" in a:
    print(a.count("python"))

Enter a string janvi
Enter a string hggfd
Enter a string jkklklk
Enter a string jhgygjd
Enter a string hshdgsgdhs

['janvi', 'hggfd', 'jkklklk', 'jhgygjd', 'hshdgsgdhs']

In [40]:
# 17. Make a copy of a list using the copy() method. Then modify the copied list and show that the original list is unchanged.
list5 =  [1, 2, 3]
list6 = list5.copy()
print(list6)
list6.append(4)
print("original list: ",list5)
print("copied list: ",list6)

[1, 2, 3]
original list:  [1, 2, 3]
copied list:  [1, 2, 3, 4]

In [41]:
# 18. Take a list of 7 numbers. Insert a number at the middle index using the insert() method.
list1 = [1,2,3,4,5,6,7]
list1.insert(len(list1)//2,4)
print(list1)

[1, 2, 3, 4, 4, 5, 6, 7]

In [42]:
# 19. Create a list and use pop() to remove elements one by one until the list becomes empty. Print each popped element.
list_2 =[1,2,3,4,5]
while(list_2):
    print(list_2.pop())
print(list_2)

5
4
3
2
1
[]

In [43]:
# 20. Create a list of numbers and display only the unique elements using count() method logic (no set used).
list_first = [1,2,3,4,4,5,5,5]
for i in list_first:
    if list_first.count(i)==1:
        print(i)

1
2
3

In [44]:
#tuple
#ordered
#immutable
#indexed
t = (1,2,2,3,4,5)
#count()
print(t.count(2))
#index()
print(t.index(2))
print(t)

2
1
(1, 2, 2, 3, 4, 5)

In [45]:
#Creating a empty list
T = tuple() 
print(T)

#Create a single element tuple
T1 = (1) # here 1 was treated as an integer expression, hence t stroes an integer 1, not a tuple 
print(T1)

T2 = (1,) # Now T2 stroes a tuple, not integer
print(T2)

()
1
(1,)

In [46]:
#Creating tuple from a string
T1 = tuple('Hello')
print(T1)
#Creating tuple from a list
L = ['H', 'e', 'l', 'l', 'o']
T2 = tuple(L)
print(T2)

('H', 'e', 'l', 'l', 'o')
('H', 'e', 'l', 'l', 'o')

In [47]:
#creating tuple from keyborad input
Tuple = tuple(input("Enter Tuple Elements:"))
print(Tuple)

Enter Tuple Elements: j

('j',)

In [48]:
#Tuple Functions
#max()
Tuple = (1,2,3,4,5,5,5)
print("Maximum Element Of Tuple is: ",max(Tuple))

#min()
print("Minimum Element Of Tuple is: ",min(Tuple))

#index()
print("Index of 3 in a tuple is: ",Tuple.index(3))

#count()
print("Total occurrences of 5 in a tuple is :",Tuple.count(5))

Maximum Element Of Tuple is:  5
Minimum Element Of Tuple is:  1
Index of 3 in a tuple is:  2
Total occurrences of 5 in a tuple is : 3

In [49]:
#tuple() method is actually constructor method that can be used to create tuples from different types of values
#example
#Creating a tuple from keys of a dictionary
t3 = tuple({1:"One",2:"Two"})
print(t3)

(1, 2)

In [50]:
#sets
#operations
#unordered
#non indexed
#unique elements
#mutable

s1 = {1,2,3}
s2 = {3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [51]:
#sets
s3 = set([6,7,8])
s4 = set([9,10,12])
print(s4)

{9, 10, 12}

In [52]:
#add()
s1.add(0)
print(s1)

{0, 1, 2, 3}

In [53]:
#pop()
print(s2.pop())
print(s2)

3
{4, 5}

In [54]:
#remove()
set1 = {2,3,55}
set1.remove(3)
print(set1)

{2, 55}

In [55]:
#clear()
set1 = {2,3,55}
set1.clear()
print(set1)
print(type(set1))

set()
<class 'set'>

In [56]:
#intersection()
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.intersection(s2))

{3}

In [57]:
#update(ele)
s1 = {1,2,3}
s1.update([4])
print(s1)

{1, 2, 3, 4}

In [58]:
#sets difference
s1 = {1,2,3,3,4}
s2 = {4,5,5,6,6,7}
print(s1.difference(s2))

{1, 2, 3}

In [59]:
#subset
s1 = {1,2,3,3,4}
s2 = {4,5,5,6,6,7}
print(s1.issubset(s2))

False

In [60]:
#disjoin
s1 = {1,2,3,3,4}
s2 = {4,5,5,6,6,7}
s1.isdisjoint(s2)

False

In [61]:
s2.symmetric_difference(s1)

{1, 2, 3, 5, 6, 7}

In [62]:
s2.issuperset(s1)

False

In [63]:
#update
sets = {32,78,90,12}
sets.update({92})
print(sets)

{32, 90, 12, 78, 92}

In [64]:
#discard(elem)
sets.discard(90)
print(sets)

{32, 12, 78, 92}

In [65]:
#dictionary key value pair
#unordered
#indexed
d = {1:"One",2:"Two",3:"Three"}
print(d[1])

One

In [66]:
#access 
for i in d:
    print(d[i])

One
Two
Three

In [67]:
#keys fuctions
{k for k in d.keys()}

{1, 2, 3}

In [68]:
#len
len(d)

3

In [69]:
#values fuctions
{k for k in d.values()}

{'One', 'Three', 'Two'}

In [70]:
#clear function
d = {1:"One",2:"Two",3:"Three"}
d.clear()
print(d)

{}

In [71]:
#get()
d = {1:"One",2:"Two",3:"Three"}
print(d.get(1))

One

In [72]:
#update()
d = {1:"One",2:"Two",3:"Three"}
d.update({3:"Third"})
print(d)

{1: 'One', 2: 'Two', 3: 'Third'}

In [73]:
#String Functions
#String declaration 
str = "Rock the World."
print(str)

Rock the World.

In [74]:
#Find the size of string
str1 = "End Of the world."
print(len(str1))

17

In [76]:
#String the copy of the string with first character capitalized 
#capitalize()
print('i love KJB'.capitalize())

I love kjb

In [78]:
#isalnum() return True if the character in the <string> are alphanumeric (alphabet or number)
#isalpha() return True if all character in the <string> are alphabaetic
#isdigit() return True if all the character in the <string> are digit
#isspace return True if there are only whitespce character in string
str1 = "abc123"
str2 = "abc"
str3 = "123"
str4 = " "
print("ISALNUM....")
print(str1.isalnum())
print(str2.isalnum())
print(str4.isalnum())

print("ISALPHA....")
print(str2.isalpha())
print(str3.isalpha())

print("ISDIGIT....")
print(str3.isdigit())
print(str2.isdigit())


print("ISSPACE....")
print(str4.isspace())
print(str2.isspace())

ISALNUM....
True
True
False
ISALPHA....
True
False
ISDIGIT....
True
False
ISSPACE....
True
False

In [79]:
#islower() return True if all caesd characters in the <String> are lowercase
#isupper() return True if all caesd characters in the <String> are uppercase
#istitle() return true if the most first letter of an string is a capitalized eg:"My programming language is java"
string1 = "hello"
string2 = "THERE"
string3 =  "Goldy"

print("ISLOWER...")
print(string1.islower())
print(string3.islower())

print("ISUPPER...")
print(string2.isupper())
print(string3.isupper())

print("ISTITLE...")
print(string3.istitle())
print(string1.istitle())

ISLOWER...
True
False
ISUPPER...
True
False
ISTITLE...
True
False

In [80]:
#str.lower() : return a copy of the string <str> converted to lowercase
#str.upper(): return a copy of the string <str> converted to lowercase
#str.title(): return a titlecaed version of the string where words start with an uppercae character and the remaining are lowercase

string1 = "hello"
string2 = "THERE"
string3 =  "Goldy"

print("LOWER...")
print(string2.lower())

print("UPPER...")
print(string1.upper())

print("TITLE...")
print(string1.title())
print(string2.title())

LOWER...
there
UPPER...
HELLO
TITLE...
Hello
There

In [81]:
#<str>.startswith(prefix,start,end) returns True if string <str> starts  with the argument prefix, otherwise returns False
#<str>.endswith(suffix,start,end) returns True if string <str> ends with the argument suffix, otherwise returns False

str = "I LIKE CS"
print(str.startswith("I"))
print(str.endswith("CS"))
print(str.startswith("I",0))
print(str.endswith("CS",4,6))

True
True
True
False

In [82]:
#<str>.swapcase()retuns a copy of the string <str> with uppercase characters converted to lower case and viva versa.
str = "Hello World"
print(str.swapcase())
print(str.swapcase().swapcase())

hELLO wORLD
Hello World

In [83]:
#str.count(sub[,start[,end]]) returns the no. of over-overlapping occurrance of substring sub in the range of [start,end]
num = "To Be or Not to Be"
print(num.count("Be"))
print(num.count("Be",7))
print(num.count("Be",7,11))

2
1
0

In [84]:
#<str>.lstrip([chars]) returns a copy of the string <str> with leading character removed.
#<str>.rstrip([chars]) returns a copy of the string <str> with Trailing character removed.
str = "There"
print(str.lstrip('The'))
print(str.rstrip('re'))

re
Th