In [1]:
#Variable Assigement & Sum
num1 = 15
num2 = 25
print(num1+num2)

40

In [2]:
#Difference & Product
num1 = 50
num2 = 18
num3 = 12
num4 = 7
print(num1-num2)
print(num3*num4)

32
84

In [3]:
#Division & Modulus
num1 = 100
num2 = 3
print(100/3)
print(100%3)

33.333333333333336
1

In [4]:
#Boolean Expressions
a = (5+3)>(10-4)
b = (20/2) == 10
c = (7<5) or (9!=8)
print(a)
print(b)
print(c)

True
True
True

In [5]:
#Type Conversion
num1 = 45.8
num2 = 33
print(int(num1))
print(float(num2))

45
33.0

In [6]:
#Average of Three Numbers
a = int(input("Enter the first number:"))
b = int(input("Enter the Second number:"))
c = int(input("Enter the thrid number:"))
print(((a+b+c/3)))

Enter the first number: 8
Enter the Second number: 8
Enter the thrid number: 8

18.666666666666668

In [7]:
#Power Calculation
print(5**3)

125

In [8]:
#Temperature Conversion 
f = float(input("Enter A Temperature in Fahrenheit to convert into celsius:"))
celsius = (f-32)*(5/9)
print(celsius)

Enter A Temperature in Fahrenheit to convert into celsius: 78

25.555555555555557

In [9]:
#Simple interest Calculation
p = 1000
r = 5
t = 2
si = (p*r*t)/100
print(si)

100.0

In [10]:
#Mixed Arithmetic
exp = (15+5)*(20-8)/4
print(exp)

60.0

In [11]:
#Arithmetic Operators
a=int(input("Enter first value:"))
b=int(input("Enter second value:"))
print("Addition:")
print(a+b)
print("Subtrction:")
print(a-b)
print("product:")
print(a*b)
print("divide:")
print(a/b)
print("modulus:")
print(a%b)
print("Float division:")
print(a//b)

Enter first value: 78
Enter second value: 65

Addition:
143
Subtrction:
13
product:
5070
divide:
1.2
modulus:
13
Float division:
1

In [12]:
#Assignment Operators
a = int(input("Enter a integer Number:"))
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a//=5
print(a)
a**=5
print(a)

Enter a integer Number: 78

83
78
390
78.0
15.0
759375.0

In [13]:
#logical operators
a=10
b=20
print("AND operator:")
print(a>1 and b>5)
print("OR operator:")
print(a>8 or a==b)
print("NOT operator:")
print(not(a))

AND operator:
True
OR operator:
True
NOT operator:
False

In [14]:
#Comparison Operators
a=10
b=20
print("a is greater:")
print(a>b)
print("b is greater:")
print (a<b)
print("a and b are equal")
print(a==b)
print("a is less than equal to b:")
print(a<=b)
print("b is less than equal to a:")
print(a>=b)

a is greater:
False
b is greater:
True
a and b are equal
False
a is less than equal to b:
True
b is less than equal to a:
False

In [15]:
#Preorder , Postorder Incrementation
a=10
print("pre increment:")
a+=5
print(a)
print("post increment:")
a=+20
print(a)

pre increment:
15
post increment:
20

In [17]:
#Membership operator
a="Janvi"
print("J" in a)
print("i" in a)
print("n" not in a)

True
True
False

In [18]:
#Bitwise operator
a=10
b=20
print("Bitwise AND operator")
result=a<b & b>a
print(result)
print("Bitwise OR operator")
result = a>b | b>a
print(result)
print("Bitwise Not operator")
result=~a
print(result)

Bitwise AND operator
True
Bitwise OR operator
False
Bitwise Not operator
-11

In [19]:
#Indentify operator
a=10
b=20
print(a is b)
print(a is not b)

False
True